version: '3.8'

services:
  consulserver01:
    image: hashicorp/consul:latest
    container_name: consulserver01
    hostname: consulserver01
    command: tail -f /dev/null
    ports:
      - 8500:8500
    volumes:
      - ./servers/server01:/etc/consul.d
    networks:
      - consul

  consulserver02:
    image: hashicorp/consul:latest
    container_name: consulserver02
    hostname: consulserver02
    command: tail -f /dev/null
    volumes:
      - ./servers/server02:/etc/consul.d
    networks:
      - consul

  consulserver03:
    image: hashicorp/consul:latest
    container_name: consulserver03
    hostname: consulserver03
    command: tail -f /dev/null
    volumes:
      - ./servers/server03:/etc/consul.d
    networks:
      - consul
  
  consulclient01:
    image: hashicorp/consul:latest
    container_name: consulclient01
    hostname: consulclient01
    command: tail -f /dev/null
    networks:
      - consul
    volumes:
      - ./clients/consul01:/etc/consul.d
  
  consulclient02:
    image: hashicorp/consul:latest
    container_name: consulclient02
    hostname: consulclient02
    command: tail -f /dev/null
    networks:
      - consul
    volumes:
      - ./clients/consul02:/etc/consul.d

networks:
  consul:
    driver: bridge
